{% extends 'base.html' %}
{% block content %}
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
		{% include 'includes/aside_dashboard.html' %}
	<main class="col-md-9">
		<header class="card-header" style="text-align:center;">
			<strong class="d-inline-block mr-3">Order History</strong>
		</header>
		{% for order in orders %}
		<a href="{% url 'order_detail' order.order_number %}">
			<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<td>
						<b><p class="title mb-0">{{ order.order_number }}</p></b>
						<var class="price text-muted">USD {{ order.order_total}}</var>
					</td>
					<td style="text-align:center">
						<p class="title mb-0">{{order.full_name}}</p>
						<p class="title mb-0">{{ order.address}}</p>
					</td>
					<td style="text-align:center">
						<p class="title mb-0">{{ order.created_at}}</p>
					</td>
				</tr>
			</table>
			</div> <!-- table-responsive .end// -->
		</a>
		{% endfor %}
	</main>
</div> <!-- row.// -->
</div>


</section>
{% endblock %}
